# Auto detect text files and perform LF normalization
# text=auto
*.md linguist-language=PHP
*.yml linguist-language=PHP
*.html linguist-language=PHP
*.js linguist-language=PHP
*.xml linguist-language=PHP
*.css linguist-language=PHP
*.sql linguist-language=PHP
*.uml linguist-language=PHP
*.cmd linguist-language=PHP
